<section>
    <a href="/post/{{id}}">
        <h2 class="title-headers">{{title}}</h2>
        <div id="post-body">
            <h3>{{content}}</h3>
            <p id="author-date">{{format_date post.date_created}}</p>
        </div>
    </a>
</section>