<!DOCTYPE html>
<html lang="en">
<head>
    <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CMS Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=IM+Fell+Double+Pica&family=Oswald:wght@300&display=swap');
</style>
</head>
<body>
    <header>
        <h2 class="main-header">Dashboard</h2>
        <nav class="dashboard-buttons">
            
            <button class="btn"><a href="/">Home</a></button>
            <button class="btn"><a href="/dashboard">Dashboard</a></button>
            {{#if logged_in}}
            <button class="btn" id="logout-btn">Logout</button>
            {{else}}
            <button class="btn"><a href="/login">Login</a></button>
            {{/if}}
        </nav>
    </header>

    <main class="main-cont">
        {{{ body }}}
    </main>
   {{#if logged_in}}
   <script src="/js/logout.js"></script>
   {{/if}}
</body>
</html>