<div>
    <h2>Edit Post</h2>
    <form id="post-edit">
        <div>
            <h3>Title</h3>
            <input type="text" name="post-title" value="{{post.title}}">
        </div>
        <div>
            <h3>Content</h3>
            <textarea name="post-content" id="post-content" cols="30" rows="10">{{post.content}}</textarea>
        </div><br>
        <button class="btn" type="submit">Save</button>
        <button class="btn" type="button" id="delete-post">Delete</button>
        <input type="hidden" name="post-id" value="{{post.id}}">
    </form>
</div>

<script src="/js/edit-post.js"></script>