<form class="login-form">
    <h3>Login</h3>
    <div class="username-input">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login">
    </div><br>
    <div class="password-input">
        <label for="password-login">Password: </label>
        <input type="password" id="password-login">
    </div><br>
    <div class="submit-btn">
        <button class="submit">Login</button>
    </div>
</form>

<script src="/js/login.js"></script>