<div>
    <h2>New Post</h2>
    <form id="new-post">
        <div>
            <h3>Title</h3>
            <input type="text" name="post-title">
        </div>
        <div>
            <h3>Content</h3>
            <textarea name="post-content" cols="30" rows="10"></textarea>
        </div><br>
        <button class="btn" type="submit">Create Post</button>
    </form>
</div>

<script src="/js/new-post.js"></script>