<form class="login-form" id="signup-form">
    <h3>Sign Up</h3>
    <div class="username-input">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup">
    </div><br>
    <div class="password-input">
        <label for="password-signup">Password: </label>
        <input type="password" id="password-signup">
    </div><br>
    <div class="submit-btn">
        <button class="submit">Sign Up</button>
    </div>
</form>

<script src="/js/signup.js"></script>