<h2 class="title-headers">{{posts.title}}</h2>
<div id="post-body">
<h3>{{posts.content}}</h3>
<p id="author-date"><strong>{{posts.user.username}}</strong> -  {{posts.date_created}}</p>
</div>
<section class="comments">
    {{#each comments}}
    {{>comment-details}}
    {{/each}}
</section>