header {
    padding: 40px;
    text-align: center;
    background-color: gray;
    color: black;
    border: solid 4px black;
    display: flex;
  };

.btn:hover {
    color: beige;
}

body {
  background-color: bisque;
}

.login-form {
  background-color: bisque;
  color: black;
}
  